/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #838383;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .signupbox {
    background-color: #424242;
    color: white;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 3.0);
    margin-top: 50px;
  }

  .signupbox h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .signupbox img.avatar {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  input[type="submit"].btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  input[type="submit"].btn:hover {
    background-color: #555;
  }

  .container.signin {
    text-align: center;
    margin-top: 20px;
  }

  .container.signin a {
    color: #5acc3e;
    text-decoration: none;
  }

  .container.signin a:hover {
    text-decoration: underline;
  }

  #signupButton
  {
    background-color: #40ad24;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  #signupButton:hover {
    background-color: #5acc3e;
  }

  #errorInfo
  {
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
  }